{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="{% static 'actions/css/navbar/base.css' %}" />

    <title>
      {% block title %}
        Portal MAGES
      {% endblock %}
    </title>

    {% block extra_css %}

    {% endblock %}
  </head>

  <body>
    <!-- ===================================================== -->
    <!-- TÍTULO DA PÁGINA PARA A NAVBAR -->
    <!-- ===================================================== -->

    <div id="page-title-source" style="display: none;">
      {% block page_title %}
        Portal MAGES
      {% endblock %}
    </div>

    <!-- ===================================================== -->
    <!-- FRAME PRINCIPAL -->
    <!-- ===================================================== -->

    <div class="frame">
      <!-- ===================================================== -->
      <!-- NAVBAR -->
      <!-- ===================================================== -->

      <nav class="navbar">
        {% include 'LayoutsBases/partials/navbar.html' %}
      </nav>

      <!-- ===================================================== -->
      <!-- ÁREA ABAIXO DA NAVBAR -->
      <!-- ===================================================== -->

      <div class="app">
        <!-- ================================================= -->
        <!-- SIDEBAR -->
        <!-- ================================================= -->

        {% include 'LayoutsBases/partials/sidebar.html' %}

        <!-- ================================================= -->
        <!-- CONTEÚDO PRINCIPAL -->
        <!-- ================================================= -->

        <main class="main">
          {% block content %}

          {% endblock %}
        </main>
      </div>
    </div>

    <!-- ===================================================== -->
    <!-- JAVASCRIPT GLOBAL -->
    <!-- ===================================================== -->

    <script src="{% static 'actions/js/navbar/base.js' %}"></script>

    <!-- ===================================================== -->
    <!-- JAVASCRIPT ESPECÍFICO DA PÁGINA -->
    <!-- ===================================================== -->

    {% block extra_js %}

    {% endblock %}
  </body>
</html>
